In [2]:
import sys, os
sys.path.append(os.path.join(os.path.dirname('__file__'), '..', 'DB_and_Azure'))
import sql_db_functions as SQLf

import pandas as pd

In [3]:
conn, cursor = SQLf.sql_db_functions.connect_sql()

In [6]:
query = f"SELECT 
            product_characteristics.id, 
            Brand_id,
            Detail, 
            Brand,
            Price,
            Link
        FROM product_characteristics INNER JOIN Products ON product_characteristics.Brand_id = Products.Brand_Prod_id 
        ;"
cursor.execute(query)

# Fetch the rows
rows = cursor.fetchall()
#rows

In [ ]:
conn, cursor = SQLf.sql_db_functions.connect_sql()

In [ ]:
query = f"SELECT 
            Brand_id,
            image_link
        FROM product_img 
        ;"
cursor.execute(query)

# Fetch the rows
rows = cursor.fetchall()
#rows

In [7]:
SQLf.sql_db_functions.close_connection_db(conn=conn,cursor=cursor)

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(rows ,columns= ['Id','prod_id','descripcion','Brand'])

In [10]:
df.head()

   Id  prod_id                                        descripcion  Brand
0   2        1  *Type: Shirt\n*Fit: Regular fit\n*Sleeve style...  Gucci
1  58       57  *Type: Shirt\n*Fit: Regular fit\n*Sleeve style...  Mango
2  49       48  *Type: Blouse  \n*Fit: Loose  \n*Sleeve style:...  Mango
3  50       49  *Type: Dress\n*Fit: Regular fit\n*Sleeve style...  Mango
4   3        2  *Type: Shirt\n*Fit: Regular fit\n*Sleeve style...  Gucci